<!-- This is the page that loads first
  It will have a Title and a button called Start Game
  When the button is clicked it will then load the second page which will gather the 
  player requirements What is Block Body

-->

{% extends "mainTemplate.HTML" %}

{% block content %}

<body>

    <h2>
        Game Over 
        Do you want to play again?

        <form action="" class="form-inline" method="post">
                <input type="submit" value="Begin Game" name="Begin Game"/>
                <input type="submit" value="End Game" name="End Game"/>
        </form>

    </h2>

    <h3>
        <img src="/static/images/sadFace.jpg" alt="Sad Face" width="50%" height="auto">
    </h3>

</body>

{% endblock %}



<!--
{% block body %}
{% if session['logged_in'] %}
    <p>You're logged in already!</p>
    {% else %}
    <form action="/PlayGame" method="POST">
      <input name="numPlayers" placeholder="No Players">
      <input type="submit" value="Submit">
      <button>Hello</button>
    </form>
    <p>Here is my variable: {{ variable }}</p>
  {% endif %}
{% endblock %}

-->









